<h1><%= @product.name %></h1>
<img src="<%= @product.img %>" alt="">
<h2>Price $<%= @product.cost %></h2>
<h4>Country of Origin: <%= @product.country_of_origin %></h4>

<% if @product.reviews.any? %>
  <h4>Product <span class="glyphicon glyphicon-star"></span>Ratings:</h4>

  <% @product.reviews.each do |review| %>
        <h3><%= link_to review.rating, product_review_path(@product, review) %></h3>
  <% end %>
<% else %>
  <h5>No reviews are listed for this product.</h5>
<% end %>

<h4><%= link_to "Add a Review", new_product_review_path(@product) %></h4>

<h4><%= link_to "Edit", edit_product_path(@product) %></h4>
<h4><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></h4>

<h4><%= link_to "Return to Products", products_path %></h4>
