<h2>Reviewer: <%= @review.author %></h2>
<img src="<%= @review.img %>" alt="">
<h2>Treat: <%= @product.name %></h2>
<h1>Rating: <% @review.rating.to_i.times do  %>
 <span class="glyphicon glyphicon-star"></span>
<% end %>

<% @review.blank_stars.times do %>
 <span class="glyphicon glyphicon-star-empty"></span>
<% end %>

<h3>"<%= @review.content_body %>"</h3>
<br>

<h4><%= link_to "Edit Review", edit_product_review_path(@product, @review) %></h4>
<h4><%= link_to "Delete Review", product_review_path(@product, @review),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></h4>


<h4><%= link_to "Return to Product Page", product_path(@product) %></h4>
