<!DOCTYPE html>
<html>
<head>
  <title>NewSpecialtyStore</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Annie's Specialty Dog Treat Shop</h1>
    </div>
    <div class="card">
      <nav class="navbar navbar-info bg-info">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        <a class="navbar-brand" href="/products">Complete List of Treats</a>
        <% if current_user.admin %>
        <a class="navbar-brand" href="/products/new">Create New Treat</a>
        <% end %>
        <% if current_user %>
        <%= current_user.username %> | <%= link_to "Sign out", '/signout' %>
        <% else %>
        <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
        <% end %>
      </nav>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <div class="fade-in">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
