<!DOCTYPE html>
<html>
<head>
  <title>NewSpecialtyStore</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/products">Products</a></li>
  <% end %>
  <div class="container">
    <div class="jumbotron">
      <h1>Annie's Specialty Dog Treat Shop</h1>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
</body>
</html>
